node_modules
.netlify

# R files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Common Hugo files to ignore
/public/
/resources/
/resources/_gen/
.hugo_build.lock

# Downloaded data files to ignore
/pd/faostat/data_raw/
/pd/faostat/data/

# 
/content/**/index.html
/content/**/index_files/
