node_modules
.netlify

# R files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp

# Common Hugo files to ignore
/public/
/resources/
/resources/_gen/
.hugo_build.lock

# Downloaded data files to ignore
/pd/faostat/data_raw/
/pd/faostat/data/

# Preview files
/content/**/index.html
/content/**/index_files/

# Scratchpad and draft content
/content/en/about/
/content/en/credits/
/content/en/contributors/
/content/en/faq/
/content/en/glossary/
/content/en/scratchpad/
